/*

    Color Palette
    (monochromatic colors)
    chosen using Adobe Color CC
    https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.317729132152027,0.05948256017344611,0.5,0.7595878796398775,0.41896512034689226,1,0.635458264304054,0.11896512034689222,1,0.37979393981993875,0.20948256017344613,0.5,0.5083666114432432,0.09517209627751377,0.8&swatchOrder=0,1,2,3,4

 */

.root {
    -fx-base: #8218CC;
    -fx-background-color: #C26BFF;
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
}

.h1, .h2 {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.h1 {
    -fx-font-size: 24pt;
}
.h2 {
    -fx-font-size: 16pt;
    -fx-line-spacing: 0.8em;
}

/* Header */

.header {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}
.tabbar {

}
.tab.active {
    /* Main colour */
    -fx-background-color: #A21EFF;
}

/* Content */
.panel-overview {
    -fx-padding: 20px;
}
.panel-overview .temp-rightnow {
    -fx-font-size: 50pt;
    -fx-alignment: center;
}
.panel-overview .weather-details Label {
    -fx-padding: 4px;
}

.panel-day .suggested-time {
    -fx-padding: 10px;
}
.panel-day .hourrow {
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: rgba(0, 0, 0, 0.4);
    -fx-padding: 10px;
}

.day-summary {
    -fx-padding: 10px;
}

/* Scrollbar style */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track {
    visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

