.root {
    -fx-base: #BCF0CF;
    -fx-background: #EDF0DE;
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
}

.h1, .h2 {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.h1 {
    -fx-font-size: 24pt;
}
.h2 {
    -fx-font-size: 16pt;
    -fx-line-spacing: 0.8em;
}

button {

}
