.root {
    -fx-base: #EDF0DE;
    -fx-background-color: #BCF0CF;
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
}

.h1, .h2 {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.h1 {
    -fx-font-size: 24pt;
}
.h2 {
    -fx-font-size: 16pt;
    -fx-line-spacing: 0.8em;
}

/* Header */

.header {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}
.tabbar {
    -fx-background-color: rgb(192, 192, 192);
}
.tab.active {
    -fx-background-color: white;
}

/* Content */
.panel-overview {
    -fx-padding: 20px;
}
.panel-overview .temp-rightnow {
    -fx-font-size: 50pt;
    -fx-alignment: center;
}
.panel-overview ImageView {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-scale-z: 0.6;
}
.panel-overview .weather-details Label {
    -fx-padding: 4px;
}
